*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  max-width: 50rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.post {
  margin: 20px;
  padding: 20px;
  border: 2px solid #323232;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.post__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.delete {
  padding: 10px 15px;
  background: transparent;
  border: none;
  font-weight: 700;
  background: #323232;
  border-radius: 15px;
  color: #ffffff;
  font-size: 0.85rem;
  cursor: pointer;
}

.post__capture {
  text-align: center;
  padding: 10px;
}

.post__form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
  max-width: 100%;
}

#input {
  padding: 10px;
  background: #f3f5f9;
  border-radius: 20px;
  color: #323232;
  border: none;
  &:focus {
    outline: none;
  }
}

.postList__title {
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
  color: #323232;
}

.selectedPosts__block > select {
  padding: 5px 15px;
  background: #f3f5f9;
  border-radius: 10px;
  border: none;
  color: #323232;
  font-weight: 700;
  margin-left: 20px;
}

.selectedPosts__block {
  margin-left: 15px;
}

// ModalWindow Styles

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(#323232, 0.8);
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  padding: 25px;
  border-radius: 16px;
  width: 450px;
  height: 300px;
  background: #f3f5f9;
}

.create {
  text-align: center;
  font-size: 1.5rem;
  color: #323232;
  font-weight: 700;
  text-decoration: underline;
}

.form > .delete {
  margin-bottom: 20px;
  margin-left: 18px;
}

